.tool-icon {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  transition: border 0.15s;
  color: white;
}

.tool-icon:focus {
  outline: none;
  box-shadow: none;
}

.tool-icon:active {
  outline: none;
  box-shadow: none;
  background: none;
  border: none;
}

.selected {
  border: solid white 1px;
  color: white;
}
