html,
body {
  background-color: #121418;
  color: white;
}

.input-no-arrows::-webkit-inner-spin-button,
.input-no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-no-arrows {
  -moz-appearance: textfield;
  appearance: textfield;
}

canvas {
  image-rendering: pixelated;
}
